@import "tailwindcss";
@import "@nuxt/ui";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #121212;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
